[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Halloloid/Frontend_of_Eco_Vision.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/Halloloid/Backend_of_Eco_Vison.git
[submodule "Ai_Microservice"]
	path = Ai_Microservice
	url = https://github.com/Halloloid/Waste_Classifier_model.git
